/*
* Modal (ng-bootstrap)
*/
.modal {  
  z-index: 9999;
  height: 100%;

  .modal-dialog {
    margin: 0;    
  
    .modal-content {
      height: 100%;
      border: 0;
      border-radius: 0;
  
      .modal-header {
        justify-content: space-between;
        border: 0;
        border-radius: 0;
        padding: 1rem 1rem 0 1rem;
      }
    }
  }

  @include media-breakpoint-up(md) {
    padding-top: 100px;
    .modal-dialog {
      margin: 1rem auto;
    }
  }

  @include media-breakpoint-up(lg) {
    .modal-dialog {
      max-width: 750px;
    }
  }
}