/*
* Inputs
*/
.input {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  -webkit-transition: all linear .1s;
  transition: all linear .1s;
  border: 1px solid $color-grey!important;
  border-radius: none!important;
  padding: .5rem .75rem;
  margin-bottom: .5rem;

  &:focus {
    border-color: $color-blue;
  }
}

.f2l-input {
  display: block;
  position: relative;
  width: auto;

  .input {
    padding-right: 2rem;
  }
  
  .f2l-input-icon {
    position: absolute;
    z-index: 998;
    right: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.input-wrapper {
  position: relative;
  width: auto;
  .input-dropdown {
    margin: 0;
    position: absolute;
    width: 120%;
    padding: 0;
    border: 1px solid $color-grey;
    max-height: 400px;
    background-color: #fff;
    overflow: auto;
    z-index: 5555;

    li {
      list-style: none;
      padding: .5rem;
      border-bottom: 1px solid $color-grey;

      &:hover {
        background-color: $color-grey;
      }

      p {
        margin: 0;
      }

      span {
        font-size: .75rem;
      }
    }
  }
}

.f2l-select-wrapper {
  display: block;
  position: relative;
  width: auto;

  &::after {
    position: absolute;
    z-index: 999;
    content: "";
    width: .75rem;
    height: .75rem;
    border-bottom: 1px solid $color-black;
    border-right: 1px solid $color-black;
    top: 30%;
    right: 1rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    pointer-events: none;
    //transform: translateY(-50%);
  }
}

/*
* Checkbox
*/
.checkbox,
.checkbox_slide,
.radio {
  visibility: hidden;
  border-radius: 0;
  opacity: 0;
  width: 1.278rem;
  height: 1.278rem;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:disabled {
    + .label,
    + .label:before {
      color: $color-grey;
      border-color: $color-grey;
    }

    + input[type="checkbox"] + .label:before {
      background-color: $color-grey;
    }

    &:hover {
      + label,
      + label:before {
          color: $color-grey;
          border-color: $color-grey;
      }
    }
  }
}

.checkbox + .label,
.radio + .label {
  display: inline-block;
  font-family: $global-font-family;
  color: #000;
  cursor: pointer;
  position: relative;
  width: auto;
  padding-left: .75rem;
  margin-left: 1rem;
}

.checkbox + .label:before,
.radio + .label:before {
  line-height: 1.2;
  content: "";
  display: inline-block;
  width: 1.238rem;
  height: 1.238rem;
  position: absolute;
  left: -1rem;
  background-color: $color-white;
  border: 1px solid $color-grey;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.checkbox {
  &:checked {
    + .label:before {
      background-color: $color-blue;
      border: 1px solid $color-blue;
      content: "\2713";
      //font-family: $icon-font-family;
      //font-size: $global-font-size;
      font-weight: 700;
      color: $color-white;
      text-align: center;
    }

    + .label {
      color: #000;
    }
  }

  &:hover {
    + .label,
    + .label:before {
      border-color: $color-blue;
    }

    + .label {
      color: #000;
    }
  }

  &:focus {
    + .label:before {
      border-color: $color-blue;
    }
  }
}
