/*
* Log
*/
.log {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  border: 2px solid transparent;
  border-bottom: 1px solid $color-grey;
  transition: border linear .1s;

  &:hover {
    border: 2px solid $color-blue;
  }

  .log-date {
    padding-right: .5rem; 
    flex-basis: 25%;
  }

  .log-info {
    flex-basis: 75%;
    width: 100%;

    .log-info-time {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .line {
        background-color: $color-black;
        height: 1px;
        width: 10%;
      }
    }

    .log-info-fromto {
      display: flex;
      justify-content: space-between;
    }
  }

  @include media-breakpoint-up(md) { 
    padding: 1rem 1.5rem;

    .log-date {
      flex-basis: 10%;
    }

    .log-info {
      flex-basis: 90%;

      .log-info-time {
        
        .line {
          width: 20%;
        }
      }
    }
  }
}