<div class="container">
  <form *ngIf="!sent" #newPasswordForm="ngForm" (ngSubmit)="onSubmit(); newPasswordForm.reset()" autocomplete="off">
    <div class="row justify-content-center pt-3">
      <div class="col-12 col-md-6 col-lg-6">    
        <label for="">Password</label>
        <input type="password" [(ngModel)]="password" minlength="3" required class="form-control" name="password" #passwordT="ngModel">    
        <div class="alert alert-danger mt-1" [hidden]="passwordT.valid || passwordT.pristine || passwordT.untouched">
          Password must be at least 3 characters long.
        </div>
      </div>
    </div>
    <div class="row justify-content-center pt-3">
      <div class="col-12 col-md-6 col-lg-6">    
        <label for="">Repeat password</label>
        <input type="password" [(ngModel)]="repeatPassword" minlength="3" required class="form-control" name="repeatPassword" #repeatPasswordT="ngModel">    
        <div class="alert alert-danger mt-1" [hidden]="repeatPasswordT.valid || repeatPasswordT.pristine || repeatPasswordT.untouched">
          Password must be at least 3 characters long.
        </div>
      </div>
    </div>
    <div class="row justify-content-center pt-3">
      <div class="col-12 col-md-6 col-lg-6">
        <button class="btn btn-primary" [disabled]="newPasswordForm.form.invalid" type="submit">Send</button>
      </div>
    </div>
  </form>
  <div *ngIf="passwordError" class="row justify-content-center pt-3">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="alert alert-danger">
        Passwords do not match
      </div>
    </div>
  </div>
  <div *ngIf="error" class="row justify-content-center pt-3">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="alert alert-danger">
        Password link expired, please get another one.
      </div>
    </div>
  </div>
  <div *ngIf="success" class="row justify-content-center pt-3">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="alert alert-success">
        Password reset success!
      </div>
    </div>
  </div>
</div>