@import "../../node_modules/bootstrap/scss/bootstrap.scss";

html, body {
  color: #000;
}
/**
* Menubar
*/
.menubar_title {
  a {
    text-decoration: none;
    color: white;
  }
}
.menubar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 16px 32px;
  color: white;
  background-color: cornflowerblue;

  .menubar_list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    .menubar_list--item {
      padding: 0 8px;

      &:first-child {
        padding-left: 0;
      }

      a {
        color: white;
        text-decoration: none;

        &:hover {
          color: #ececec;
        }

        &.selected {
          color: #e3e3e3;
        }
      }
    }
  }
}