@import "../../node_modules/bootstrap/scss/bootstrap.scss";

html, body {
  color: #000;
}

.a-link {
  color: cornflowerblue!important;
  cursor: pointer;

  &.black {
    color: #000!important;

    &:hover {
      text-decoration: none!important;
    }
  }

  &:hover {
    text-decoration: underline!important;
  }
}
/**
* Menubar
*/
.menubar_title {
  a {
    text-decoration: none;
    color: white;
  }
}
.menubar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 16px 32px;
  color: white;
  background-color: cornflowerblue;

  .menubar_list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    .menubar_list--item {
      padding: 0 8px;

      &:first-child {
        padding-left: 0;
      }

      a {
        color: white;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: #ececec;
        }

        &.selected {
          color: #e3e3e3;
        }
      }
    }
  }
}

/**
* VerifyBar
*/
.verify-wrapper {
  background-color: #FFCC00;
  padding: 12px 0;
}

/**
* Metar
*/
.metar {
  .metar-header {
    padding-bottom: 1rem;

    .metar-badge {
      display: inline-block;
      padding: .20rem .30rem;
      border-radius: 5px;
      font-size: .75rem;
      color: #ffffff;
      background-color: #ececec;
  
      &.metar-badge-vfr {
        background-color: #0A9141;  
      }
      &.metar-badge-mvfr {
        background-color: #107CC3;  
      }
      &.metar-badge-ifr {
        background-color: #D92A22;  
      }
      &.metar-badge-lifr {
        background-color: #DD1C7B;  
      }
    }
  
    .metar-station-icao {
      display: inline-block;
      vertical-align: -15%;
      padding-left: .5rem;
      margin: 0;
    }
  }

  .metar-label {
    margin: .5rem 0;
  }
}