@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// SETTINGS
@import "settings/setting.global.scss";
@import "settings/setting.colors.scss";

// ELEMENTS
@import "elements/element.fonts.scss";
@import "elements/element.inputs.scss";

// COMPONENTS
@import "components/component.accordion.scss";
@import "components/component.datepicker.scss";
@import "components/component.inputs.scss";
@import "components/component.modal.scss";
@import "components/component.log.scss";

html, body {
  font-family: $global-font-family;
  font-size: $global-font-size;
  color: #000;
}


@media (max-width: 576px) { 
  html, body {
    //font-size: $small-font-size;
  }
} 

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.row {
  margin: 0;
}

.content {
  margin-top: 73px;
}

.line {
  background-color: $color-black;
  height: 1px;
  width: 10%;
}

/**
* Button
*/
.button {
  border: none;
  font-family: $global-font-family;
  font-weight: 400;
  width: auto;
  display: inline-block;
  appearance: none;
  transition: all .1s linear;
  //background: url('../assets/gifix.gif');
  //background-position: center;
  background-color: $color-grey;
  border: 1px solid $color-grey;
  color: #000;
  padding: .5rem .75rem;

  &:hover {
    color: $color-white;
    border-color: $color-blue;
    background-color: $color-blue;
  }

  &:disabled {
    color: #fff;
    background-color: gray;
    border-color: gray;
  }

  &.button-primary {
    color: $color-white;
    background-color: $color-blue;
    border-color: $color-blue;

    &:hover {
      border-color: $color-blue;
      background-color: $color-blue;
    }
  }
}

.a-link {
  color: $color-blue!important;
  cursor: pointer;

  &.black {
    color: $color-black!important;

    &:hover {
      text-decoration: none!important;
    }
  }

  &:hover {
    text-decoration: underline!important;
  }
}
/**
* Menubar
*/
.menubar_title {
  a {
    text-decoration: none;
    color: $color-white;
  }
}
.menubar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 2rem;
  color: $color-white;
  background-color: $color-blue;

  &.mobile {
    position: fixed;
    margin-top: 73px;
    height: 100%;
    background: transparent;
    padding: 0;
    flex-direction: column;
    align-items: flex-end;
  }

  .menubar_list {
    display: flex;
    justify-content: center;

    .menubar_list--item {
      padding: 0 .5rem;

      &:first-child {
        padding-left: 0;
      }

      a {
        color: $color-white;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: $color-grey;
        }

        &.selected {
          color: $color-grey;
        }
      }
    }

    &.mobile {
      //max-height: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      transition: all .5s ease;
      background-color: $color-blue;
      height: 100%;
      padding: .5rem 3rem 2rem 3rem;
      border-top: 1px solid $color-white;

      .menubar_list--item {
        padding: 0 0 1rem 0;

        &:first-child {
          padding: .5rem 0 1rem 0;
        }
      }
    }
  }
}

/**
* VerifyBar
*/
.verify-wrapper {
  background-color: #FFCC00;
  padding: 12px 0;
}

/**
* Metar
*/
.metar-form {
  display: flex;
  align-items: center;
}

.metar {
  .metar-header {
    padding-bottom: 1rem;

    .metar-badge {
      display: inline-block;
      padding: .20rem .30rem;
      border-radius: 5px;
      font-size: .75rem;
      color: $color-white;
      background-color: $color-grey;
  
      &.metar-badge-vfr {
        background-color: $color-metar-vfr;  
      }
      &.metar-badge-mvfr {
        background-color: $color-metar-mvfr;  
      }
      &.metar-badge-ifr {
        background-color: $color-metar-ifr;  
      }
      &.metar-badge-lifr {
        background-color: $color-metar-lifr;  
      }
    }
  
    .metar-station-icao {
      display: inline-block;
      vertical-align: -15%;
      padding-left: .5rem;
      margin: 0;
    }
  }

  .metar-label {
    margin: .5rem 0;
  }
}

.filter {
  //border-bottom: 1px solid $color-grey;
  padding: 1rem;

  .filter-pickers {
    display: flex;
  }

  .filter-fields {
    display: flex;

    .filter-daytime {
      
      .filter-daytime-checkboxes {
        display: flex;
      }
    }
  }
}