@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "settings/settings.global.scss";
@import "settings/settings.colors.scss";
@import "elements/elements.fonts.scss";

html, body {
  font-family: $global-font-family;
  font-size: $global-font-size;
  color: #000;
}

/**
* Input
*/
.input {
  border: 0;
  appearance: none;
  outline: none;
  transition: all .1s linear;
  border-bottom: 2px solid #000;
  padding: .25rem 0;

  &:focus {
    border-color: cornflowerblue;
  }
}

.input-wrapper {
  position: relative;
  width: auto;
  .input-dropdown {
    margin: 0;
    position: absolute;
    width: 120%;
    padding: 0;
    border: 1px solid #e3e3e3;
    max-height: 400px;
    background-color: #fff;
    overflow: auto;
    z-index: 9999;

    li {
      list-style: none;
      padding: .5rem;
      border-bottom: 1px solid #e3e3e3;

      &:hover {
        background-color: #e3e3e3;
      }

      p {
        margin: 0;
      }

      span {
        font-size: .75rem;
      }
    }
  }
}

/**
* Button
*/
.button {
  border: none;
  appearance: none;
  transition: all .1s linear;
  background-color: cornflowerblue;
  display: inline-block;
  color: #fff;
  padding: .25rem .5rem;

  &:hover {
    background-color: #107CC3;
  }

  &:disabled {
    background-color: gray;
  }
}

.a-link {
  color: cornflowerblue!important;
  cursor: pointer;

  &.black {
    color: #000!important;

    &:hover {
      text-decoration: none!important;
    }
  }

  &:hover {
    text-decoration: underline!important;
  }
}
/**
* Menubar
*/
.menubar_title {
  a {
    text-decoration: none;
    color: white;
  }
}
.menubar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 16px 32px;
  color: white;
  background-color: $color-blue;

  .menubar_list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    .menubar_list--item {
      padding: 0 8px;

      &:first-child {
        padding-left: 0;
      }

      a {
        color: white;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: #ececec;
        }

        &.selected {
          color: #e3e3e3;
        }
      }
    }
  }
}

/**
* VerifyBar
*/
.verify-wrapper {
  background-color: #FFCC00;
  padding: 12px 0;
}

/**
* Metar
*/
.metar-form {
  display: flex;
  align-items: center;
}

.metar {
  .metar-header {
    padding-bottom: 1rem;

    .metar-badge {
      display: inline-block;
      padding: .20rem .30rem;
      border-radius: 5px;
      font-size: .75rem;
      color: #ffffff;
      background-color: #ececec;
  
      &.metar-badge-vfr {
        background-color: #0A9141;  
      }
      &.metar-badge-mvfr {
        background-color: #107CC3;  
      }
      &.metar-badge-ifr {
        background-color: #D92A22;  
      }
      &.metar-badge-lifr {
        background-color: #DD1C7B;  
      }
    }
  
    .metar-station-icao {
      display: inline-block;
      vertical-align: -15%;
      padding-left: .5rem;
      margin: 0;
    }
  }

  .metar-label {
    margin: .5rem 0;
  }
}