<div *ngIf="error" class="row justify-content-center pt-5">
  <div class="col-12 col-md-6 col-lg-6">
    <div class="alert alert-danger">
      Email or password wrong.
    </div>
  </div>
</div>
<div *ngIf="success" class="row justify-content-center pt-5">
  <div class="col-12 col-md-6 col-lg-6">
    <div class="alert alert-success">
      Log in success.
    </div>
  </div>
</div>
<form #logInForm="ngForm" (ngSubmit)="logIn(logInForm)" autocomplete="off">
  <div class="row justify-content-center pt-2" [class.pt-5]="!error" [class.pt-5]="!success">
    <div class="col-12 col-md-6 col-lg-6">    
      <label for="">Email</label>
      <input [(ngModel)]="user.email" required minlength="5" type="email" class="form-control" name="email" #email="ngModel" email>
      <div class="alert alert-danger mt-1" [hidden]="email.valid || email.pristine || email.untouched">
        Email not valid.
      </div>
    </div>
  </div>
  <div class="row justify-content-center pt-3">
    <div class="col-12 col-md-6 col-lg-6">    
      <label for="">Password</label>
      <input type="password" [(ngModel)]="user.password" minlength="3" required class="form-control" name="password" #password="ngModel">    
      <div class="alert alert-danger mt-1" [hidden]="password.valid || password.pristine || password.untouched">
        Password must be at least 3 characters long.
      </div>
    </div>
  </div>
  <div class="row justify-content-center pt-3">
    <div class="col-12 col-md-6 col-lg-6">
      <button class="btn btn-primary" [disabled]="logInForm.form.invalid" type="submit">Login</button>
    </div>
  </div>
  <div class="row justify-content-center pt-3">
    <div class="col-12 col-md-6 col-lg-6">
      <a class="a-link" routerLink="/resetPasswordConfirmEmail">Forgot your password?</a>
    </div>
  </div>
</form>