/*
* Colors
*/
//PRIMARY
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #ced4da;
$color-warning: #F5B700;
$color-danger: #ED1C24;
// BLUES
$color-blue: #2892D7;
$color-dark-blue: #003F91;
// METAR
$color-metar-vfr: #0A9141;
$color-metar-mvfr: #107CC3;
$color-metar-ifr: #D92A22;
$color-metar-lifr: #DD1C7B;