/*
* Settings
*/
$global-font-family: 'Lato' !default;
$global-font-size: 16px !default;

$xlarge-font-size: 2.125em;
$large-font-size: 1.75rem;
$medium-font-size: 1.188rem;
$small-font-size: 0.875rem;
$xsmall-font-size: 0.8rem;

$xlarge-padding: 3.125rem;
$large-padding: 2.5rem;
$medium-padding: 1.875rem;
$small-padding: 1.175rem;
$tiny-padding: 0.5rem;


