<div class="container-fluid">
    <div class="row">
        <div class="col-12 menubar">
            <h3 class="menubar_title"><a routerLink="/">Skylogbook</a></h3>
            <ul class="menubar_list">
                <li class="menubar_list--item"><a routerLink="/protected">Protected</a></li>
                <li class="menubar_list--item"><a routerLink="/register">Register</a></li>
                <li class="menubar_list--item"><a routerLink="/login">Login</a></li>
            </ul>
        </div>
    </div>
</div>