<div class="container-fluid">
    <div class="row">
        <div class="col-12 menubar">
            <h3 class="menubar_title"><a routerLink="/">Skylogbook</a></h3>
            <ul class="menubar_list">
                <li class="menubar_list--item" *ngIf="showAdminButton && (isLoggedIn$ | async)"><a routerLink="/undinosaurio/users" style="color: yellow;">Admin</a></li>
                <li class="menubar_list--item" *ngIf="isLoggedIn$ | async">{{ user }}</li>
                <li class="menubar_list--item"><a routerLink="/protected" routerLinkActive="selected">Protected</a></li>
                <li class="menubar_list--item" *ngIf="!(isLoggedIn$ | async)"><a routerLink="/register" routerLinkActive="selected">Register</a></li>
                <li class="menubar_list--item" *ngIf="!(isLoggedIn$ | async)"><a routerLink="/login" routerLinkActive="selected">Login</a></li>
                <li class="menubar_list--item" *ngIf="isLoggedIn$ | async"><a (click)="logOut()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>