<div class="menubar">
    <h3 class="menubar_title"><a routerLink="/">Fly2log</a></h3>
    <fa name="bars" size="lg" class="d-block d-sm-block d-md-block d-lg-none d-xl-none" (click)="showResponsiveMenu()"></fa>
    <ul class="menubar_list d-none d-sm-none d-md-none d-lg-flex d-xl-flex">
        <li class="menubar_list--item" *ngIf="showAdminButton && (isLoggedIn$ | async)"><a routerLink="/undinosaurio/users" style="color: yellow;">Admin</a></li>
        <li class="menubar_list--item" *ngIf="isLoggedIn$ | async">{{ user }}</li>
        <li class="menubar_list--item" *ngIf="isLoggedIn$ | async"><a routerLink="/logbook/logs" routerLinkActive="selected">Logbook</a></li>
        <li class="menubar_list--item" *ngIf="!(isLoggedIn$ | async)"><a routerLink="/register" routerLinkActive="selected">Register</a></li>
        <li class="menubar_list--item" *ngIf="!(isLoggedIn$ | async)"><a routerLink="/login" routerLinkActive="selected">Login</a></li>
        <li class="menubar_list--item" *ngIf="isLoggedIn$ | async"><a (click)="logOut()">Logout</a></li>
    </ul>
</div>
<div *ngIf="!show" class="menubar mobile">
    <ul class="menubar_list mobile">
        <li class="menubar_list--item" *ngIf="showAdminButton && (isLoggedIn$ | async)"><a routerLink="/undinosaurio/users" style="color: yellow;">Admin</a></li>
        <li class="menubar_list--item" *ngIf="isLoggedIn$ | async">{{ user }}</li>
        <li class="menubar_list--item" *ngIf="isLoggedIn$ | async"><a routerLink="/logbook/logs" routerLinkActive="selected">Logbook</a></li>
        <li class="menubar_list--item" *ngIf="!(isLoggedIn$ | async)"><a routerLink="/register" routerLinkActive="selected">Register</a></li>
        <li class="menubar_list--item" *ngIf="!(isLoggedIn$ | async)"><a routerLink="/login" routerLinkActive="selected">Login</a></li>
        <li class="menubar_list--item" *ngIf="isLoggedIn$ | async"><a (click)="logOut()">Logout</a></li>
    </ul>
</div>
