<div class="row pt-3" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-warning">
      Verification in progress
    </div>
  </div>
</div>
<div class="row pt-3" *ngIf="success">
  <div class="col-12">
    <div class="alert alert-success">
      Your account is now verified!
    </div>
  </div>
</div>
<div class="row pt-3" *ngIf="error">
  <div class="col-12">
    <div class="alert alert-danger">
      Your account is already verified or
      there was an error. Try again later.
    </div>
  </div>
</div>