<form #resetPasswordEmailForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="row justify-content-center pt-3">
    <div class="col-12 col-md-6 col-lg-6">    
      <label for="">Email</label>
      <input [(ngModel)]="email" required minlength="5" type="email" class="form-control" name="email" #emailValidate="ngModel" email>
      <div class="alert alert-danger mt-1" [hidden]="emailValidate.valid || emailValidate.pristine || emailValidate.untouched">
        Email not valid.
      </div>
    </div>
  </div>
  <div class="row justify-content-center pt-3">
    <div class="col-12 col-md-6 col-lg-6">
      <button class="btn btn-primary" [disabled]="resetPasswordEmailForm.form.invalid" type="submit">Send</button>
    </div>
  </div>
</form>
