<div class="container">
  <form *ngIf="!sent" #resetPasswordEmailForm="ngForm" (ngSubmit)="onSubmit(); resetPasswordEmailForm.reset()" autocomplete="off">
    <div class="row justify-content-center pt-3">
      <div class="col-12 col-md-6 col-lg-6"> 
        <h6>Please enter your email to get a reset password link:</h6>   
        <label for="">Email</label>
        <input [(ngModel)]="email" required minlength="5" type="email" class="form-control" name="email" #emailValidate="ngModel" email>
        <div class="alert alert-danger mt-1" [hidden]="emailValidate.valid || emailValidate.pristine || emailValidate.untouched">
          Email not valid.
        </div>
      </div>
    </div>
    <div class="row justify-content-center pt-3">
      <div class="col-12 col-md-6 col-lg-6">
        <button class="btn btn-primary" [disabled]="resetPasswordEmailForm.form.invalid" type="submit">Send</button>
      </div>
    </div>
  </form>
  
  <div *ngIf="success" class="row justify-content-center pt-3">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="alert alert-success">
        E-mail sent, please check your e-mail.
      </div>
    </div>
  </div>
  
  <div *ngIf="error" class="row justify-content-center pt-3">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="alert alert-danger">
        E-mail doesn't exist or your account is not verified.
      </div>
    </div>
  </div>
</div>
